__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
*.pytest_cache/
*.cache
.pytest_cache/
*.log
*.tmp
*.swp
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints/
oil_analytics_pipeline/models/*.pkl
oil_analytics_pipeline/.env